<!doctype html>
<html>
  <head>
    {% block head %}
    <title>Jaideep Khandelwal</title>
    {% endblock %}
  </head>
  <body>

      <div class="site-wrapper">
          <div class="site-wrapper-inner">
              <div class="cover-container">
                  <div class="masthead clearfix">
                      <div class="inner">
<!--                          <h3 class="masthead-brand">Its all about ones and zeroes</h3>
                          <ul class="nav masthead-nav">
                              <li class="active"><a href="#">Home</a></li>
                              <li><a href="#">Features</a></li> 
                              <li><a href="#">Contact</a></li>
                          </ul>-->
                    </div>
                </div>
            <div class="inner cover">
                <h1 class="cover-heading">Jaideep Khandelwal</h1>
                <p class="lead">Hi, I am Master's in Computer Science student at <a href="http://www.vu.nl/en/index.asp">VU</a>, Amsterdam. I have a penchant for neat and readable code, build good products. You can find me on <a href="http://github.com/jdk2588">github</a> and <a href="http://twitter.com/jdk2588">twitter</a></p>
                You can drop me an email <a>jdk2588@gmail.com</a>
		<p><a href="https://www.dropbox.com/s/z9hehv6dllgkzsa/JAIDEEP%20KHANDELWAL%20NEW.pdf?dl=0">resume</a></p>
                
                </p>
            </div>
            </div>
        </div>
        </div>
    </div>
  </body>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/cover.css') }}">
</html>
